.navbar{
    background-color: transparent !important;
}
#logo{
    height: 1.875rem;
}
a{
    padding-left: 8%;
}
#navbarNav{
    padding-right: 8%;
}
h3{
    color: #fff;
    padding-top: 2% ;
    padding-bottom: 2%;
}
.segunda_parte{
    background-color: black;
    text-align: center;
}
i{
    background-color: aqua;
    color: #fff;
    width: 100%;
    height: 1.25rem;
}
p{
    color: #fff;
}
.tercera_parte{
    background-color: black;
    text-align: center;
}
.card-body{
    background-color: aqua;
}
.card-title{
    color: #fff;
}
.cuarta_parte{
    background-color: black;
    text-align: left;
}
.formulario{
    color: #fff;
    text-align: left;
}
.quinta_parte{
    background-color:aqua;
    color: #fff;
}
.iconos{
    display: flex;
    justify-content: center;
    margin:auto 0;
}
.iconos ul{
    display: flex;
    justify-content: end;
    
    list-style: none;
}
h4{
    padding-left: 100px;
}